.header{
    background-color: aqua;
    font-family: fantasy;
    padding: 10px;
    margin-top: 30px;
    margin-left: 20 px;
    margin-bottom: 30px;
}

.nav{
    background-color:blue;
    color: white;
    padding: 5px ;
    margin: 0 auto;
    }

ul{ list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
 li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h2{font-size: 20px}

.snacks{
    font: size 15px;
    background-color: pink;
    padding: 10px;
    margin: 10 px;
}

.burgers{
    font-size: 15px ;
    background-color: lightgreen ;
    padding: 10 px;
    margin: 10 px;
}

.dishes{
    font-size: 15px ;
    background-color: yellow ;
    padding: 10 px;
    margin: 10 px;
}

.desserts{
    font-size: 15px ;
    background-color: purple ;
    padding: 10 px;
    margin: 10 px;
    color: white;
}

.footer{
    background-color: aqua;
    padding: 20 px;
    margin-bottom: 10 px;
    margin-top: 25 px;
    margin-left: 20 px;
}
